.faq-content {
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.faq-container-top {
    text-align: center;
    padding: 20px;

}

.faq-container-top p {
    font-size: 21px;
    color: #8a8a8e;
    justify-content: center;

}

.faq-container-top h3 {
    font-size: 80px;
    color: var(--color-text);
    max-width: 900px;
    margin-top: 12px;
    margin-bottom: 24px;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -.05em;

}

.faq-contaier-down {
    padding: 10px 20px 20px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 55px;
}

.faq-questions {
    max-width: 600px;

}




@media screen and (max-width: 768px) {



    .faq-container-top h3 {
        font-size: 39px;
        max-width: 700px;


    }

    .faq-container-top p {
        font-size: 19px;

    }




}


@media screen and (max-width: 414px) {

    .faq-contaier-down {

        padding: 10px;
    }

    .faq-container-top h3 {

        font-size: 30px;

    }

    .faq-container-top p {

        font-size: 15px;

    }

    .faq-container-top {
        padding: 0;
    }

}