.value-container {
    /* padding: 30px; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; */







}


.value-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 50px;
    text-align: center;
    max-width: 950px;
    margin: 0 auto;





}

.value-content p {
    margin-bottom: 16px;
    color: #8a8a8e;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -.025em;
    justify-content: center;
}

.value-content h2 {

    max-width: 920px;
    margin-bottom: 50px;
    font-size: 104px;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -.04em;


    color: var(--color-text);
}

.value-content h4 {
    max-width: 700px;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: -.03em;
    margin: 0 auto;

}


@media screen and (max-width: 920px) {

    .value-content h2 {
        width: 800px;
        font-size: 90px;
        line-height: 1.05;
    }

    /* .value-content {

        width: 100%;
        padding: 0px;

    } */

    .value-content h4 {

        font-size: 30px;
        width: 700px;

    }

    .value-content p {
        font-size: 34px;

    }
}


@media screen and (max-width: 540px) {

    .value-content h2 {
        width: 500px;
        font-size: 70px;
        line-height: 1.05;
        margin: 0 auto;
    }

    .value-content h4 {
        padding-top: 30px;

        font-size: 20px;
        width: 400px;

        max-width: 350px;



    }

    .value-content p {
        font-size: 24px;

    }
}



@media screen and (max-width: 423px) {

    .value-content h2 {
        width: 400px;
        font-size: 48px;
        line-height: 1.05;
        padding: 10px;
    }

    .value-content h4 {
        font-size: 20px;
        width: 400px;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -o-hyphens: auto;
        hyphens: auto;
        padding: 10px;

    }

    .value-content p {
        font-size: 24px;

    }
}

@media screen and (max-width: 375px) {

    .value-content h2 {

        width: 340px;
        font-size: 39px;
        line-height: 1.05;

    }

    .value-content h4 {
        width: 320px;
        font-size: 17px;

    }
}