.container-contact {
    max-width: 1900px;
    margin: 0 auto;
}



.contact-top {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.content-left-contact {
    height: 480px;
    width: 100%;
    flex: 1 2800px;
    margin-right: 20px;
    position: relative;

}



.content-left-contact img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    max-width: 100%;
    object-fit: cover;
    filter: brightness(0.4)
}

.content-right-contact {
    height: 480px;
    width: 100%;
    /* background: teal; */
    border-radius: 30px;
    position: relative;



}




.content-contact-text {
    position: absolute;
    bottom: 0px;
    top: 30px;
    left: 30px;
}



.content-contact-text p {
    margin-top: 4px;
    margin-bottom: 8px;
    color: white;
    font-size: 21px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -.02em;

}

.content-contact-text h3 {
    max-width: 720px;
    margin-bottom: 16px;
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -.045em;
    color: white;

}

.content-right-contact img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    max-width: 100%;
    object-fit: cover;



}



.card-contact-text {
    background: white;
    position: absolute;
    color: var(--color-text);
    bottom: 15px;
    left: 30px;
    right: 30px;
    border-radius: 15px;
    cursor: pointer;

}

.card-contact-text:hover {
    background: #007aff;
    color: white;

}

.card-contact-text h4 {
    padding: 15px;
    font-size: 17px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -.02em;

}

.card-contact-text h6 {
    /* padding-left: 15px; */
    padding: 15px 0px 7px 15px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -.02em;

}

.card-contact-text p {
    padding: 0px 0px 15px 15px;
    font-size: 12px;

}

.contact-down {
    margin-top: 35px;
    display: flex;
    flex-direction: row;

}

.container-contact-left {
    background-color: white;
    width: 100%;
    height: 350px;
    margin-right: 20px;
    border-radius: 30px;
    position: relative;
}

.container-contact-right {
    background-color: white;
    width: 100%;
    height: 350px;
    border-radius: 30px;
    position: relative;
}

.container-contact-left .text {
    padding: 25px;
}

.container-contact-left .text p {

    font-weight: 400;
    font-size: 18px;
    padding-bottom: 5px;
    padding: 0px 5px 5px 0px;
    cursor: pointer;
    color: var(--color-text);
}

.contact-down p:hover {
    color: #007aff;
    text-decoration: underline;
    cursor: pointer;
}

.container-contact-left .text p:nth-child(1),
.container-contact-right .text p:nth-child(1) {
    color: rgb(125, 122, 122);
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 5px;
    text-decoration: none;
    cursor: text
}

.container-contact-left .small-card {
    height: 90px;
    width: 90px;
    border-radius: 13px;
    background-color: #f1f4f6;
    position: absolute;
    bottom: 45px;
    left: 25px;

    display: flex;
    justify-content: center;
    align-items: center;


}

.small-card img {
    width: 40px;
}


.container-contact-right .small-card {
    height: 90px;
    width: 90px;
    border-radius: 13px;
    background-color: #f1f4f6;
    position: absolute;
    bottom: 45px;
    left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-contact-right .text {
    padding: 35px;
}

.container-contact-right .text p {

    font-weight: 400;
    font-size: 18px;
    padding: 0px 5px 5px 0px;

}

.container-contact-right .text p:nth-child(2):hover {
    color: var(--color-text);
    text-decoration: none;
    cursor: text;

}

.content-contact-off .content-img {
    width: 100%;
    height: 300px;
}

.content-contact-off .content-img img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    object-fit: cover;
    justify-content: center;
}

.contact-text {
    padding-top: 20px;
}

.contact-text p {
    margin-top: 4px;
    margin-bottom: 8px;
    color: white;
    font-size: 21px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -.02em;
    padding: 0px;
}

.contact-text h3 {
    max-width: 720px;
    margin-bottom: 16px;
    font-size: 50px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -.045em;
    color: white;
}

.content-contact-off {
    background: var(--color-text);
    padding: 25px;
    width: 100%;
    height: 550px;
    border-radius: 30px;
    margin-bottom: 20px;
    display: none;
}



@media screen and (max-width: 1024px) {

    .content-left-contact {
        flex: 1 1400px;
    }

}




@media screen and (max-width: 820px) {



    .card-contact-text {

        left: 10px;
        right: 10px;


    }



}





@media screen and (max-width: 765px) {

    .contact-top {
        flex-direction: column;
    }

    .container-contact {
        padding: 20px;
        margin: 0 auto;
    }

    .content-left-contact {

        display: none;
    }

    .content-contact-off {

        display: block;
    }

    .contact-down {
        flex-direction: column;
    }

    .container-contact-left {
        margin-bottom: 20px;
    }


}

@media screen and (max-width: 600px) {

    .contact-text p {
        font-size: 19px;
    }

    .contact-text h3 {
        font-size: 35px;
    }


}