.header {
    display: flex;
    flex-direction: column;
    /* max-width: 1000px; */
    /* margin: 0 auto; */
    /* height: 500px;
    width: 1150px;
    */
    margin: 25px;

}

.header-content {
    /* background: black; */
    background-image: url(../../assets/img2.png);
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;
    max-width: 1900px;
    width: 100%;
    height: 770px;
    border-radius: 30px;

}

.header-content-text {

    max-width: 800px;
    /* background: red; */
    margin: 100px auto 10px;



}

.header-content-img {
    margin: 10px;
    padding-bottom: 25px;
    /* margin-bottom: 30px; */
    background-image: url(../../assets/img2.png);
    display: none;
    width: 100%;
    height: 250px;
    border-radius: 30px;
    background-size: cover;
    margin: 0 auto;
    background-repeat: no-repeat;



}

.header-title {
    margin: 10px;
    padding-bottom: 25px;
}

.header-title h1 {
    font-size: 70px;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -.05em;
    color: #fff;
}

.header-subtitle {
    margin: 10px;
    padding-bottom: 25px;

}

.header-subtitle h3 {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 500;
    letter-spacing: -.03em;
    color: #fff;

}

.header-btn button {
    background-color: #fff;
    padding: 20px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    color: var(--color-text);
    cursor: pointer;
}

.header-btn button:hover {
    background-color: var(--color-text);
    color: #fff;
}

.container {
    padding: 10px;
}


/*mobile phone */
@media screen and (max-width: 765px) {

    .header-content-img {
        display: block;

    }

    .header-content {
        background-image: none;
        background: var(--color-text);
        border-radius: 0px;
        padding-bottom: 40px;
        height: 100%;

    }

    .header {

        margin: 0;

    }

    .header-title h1 {
        font-size: 40px;
        margin-top: 25px;

    }

    .header-subtitle h3 {
        font-size: 22px;

    }

}


/*mobile phone */
@media screen and (max-width: 490px) {

    .header-content {
        background-image: none;
        background: var(--color-text);
        border-radius: 0px;
        padding-bottom: 40px;
        height: 100%;

    }

    .header {

        margin: 0;

    }

    .header-title h1 {
        font-size: 34px;

    }

    .header-subtitle h3 {
        font-size: 20px;


    }

    .header-content-img {
        display: block;
        /* width: 330px; */
    }



}